/*element*/
   *{
	margin: 0;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	}
	body {
	background-size: cover;
	backgroung-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	margin:0px 500px;
	text-align:center;
	}
	div,p,td,li{
	color:orange;
	font-family:arial;
	font-size:20px;
	margin:5px;
	text-align:center;
	list-style:none;
	}
	h1,th,ul{
	margin:50px;
	color:orange;
	font-family:helvetica;
	font-size:30px;
	}
	h2{
	margin:25px;
	color:orange;
	font-family:helvetica;
	font-size:20px;
	}
	img{
	max-width:90%;
	height:500px;
	margin:20px;
	transition: transform .5s;
	}
	img:hover {
	-ms-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
	}
	button{
	padding:5px;
	margin:0 auto;
	background-color:orange;
	border-radious:5px;
	}
	button:hover{
	padding:12px;
	font-size:15px;
	}
	a{
	font-size:10px;
	}
/*class*/
	.naslov{
	margin:10px;
	padding:10px;
	color:orange;
	font-size:70px;
	text-decoration:none;
	font-family:helvetica;
	}
	.link{
	color:orange;
	font-family:arial;
	font-size:20px;
	width:min-content;
	}
	.sidra{
	color:orange;
	font-family:arial;
	font-size:25px;
	text-decoration:none;
	}
	.koti{
	position: absolute; bottom: 0; right: 0;
	}
	.seznam{
	text-align:left;
	}
